rules_version = '2';
service cloud.firestore {

  match /databases/{database}/documents {

    match /roles/{roleId} {
        allow read: if resource.data.isAdmin == true;
    }

    function isAdmin(){
     	let adminDoc = get(/databases/$(database)/documents/roles/admins).data;
  		// Check if the userIds array contains the request.auth.uid
  		return request.auth.uid in adminDoc.userIds;
    }

    match /exercises/{exerciseId} {
      allow read: if request.auth != null;
      allow create, update, delete: if request.auth != null && isAdmin();
    }

    match /workouts/{workoutId} {
      allow read: if request.auth != null && (resource.data.public || resource.data.uid == request.auth.uid);
      allow create, update, delete: if request.auth != null && resource.data.uid == request.auth.uid;
    }

    match /users/{userId} {
      function isUser() {
        return request.auth != null && userId == request.auth.uid;
      }

      allow read, create, update, delete: if isUser();

      match /exercises/{exerciseId} {
        allow read, create, update, delete: if isUser();

        match /records/{recordId} {
        	allow read, create, update: if isUser();
        }
      }

      match /workouts/{workoutId} {
        allow read, create, update: if isUser();
      }
    }
  }
}
